@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900; /* for variable fonts */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.list {
  background-color: #333333;
  margin-bottom: 8px;
  padding: 6px;
  width: 220px;
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
}
